<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="First part of project for Skills for Hire Atlantic Canada"/>
    <link rel="stylesheet" href="/styles.css">
    <title>Halifax Canoe and Kayak</title>
</head>
<body>
    <header>
        <nav class="nav">
            <img width="1200" height="1200" src="/hamburger.webp" alt="hamburger logo" class="nav__hamburger">
            <h1 class="nav__title"> Halifax Canoe and Kayak</h1>
            <a href="#" class="nav__logo"><img width="1150" height="1100" src="/paddle-white.webp" alt="Canoe logo"></a>
        </nav>
    </header>
    <div class="side__menu">
        <ul class="side__ul">
            <li><a class="side__item" href="/">Home</a></li>
            <li><a class="side__item" id="bookTrip" href="#">Book Trip</a></li>
            <li><a class="side__item" href="#">Admin Login</a></li>
        </ul>
    </div>